body{
    margin: 0px;
}

div{
    background-color: #F3F1F5;
}

a{
    color: #987bbd;
    text-decoration: none;
}

a:hover{
    color: #987bbd;
}

.top-container{
    background-color: #F3F1F5;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: .97;
    z-index: 1;
}

.top-container h6{
    color: #987bbd;
    display: inline-block;
    position: relative;
    left: 1200px;
    top: -10px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.top-character-icon{
    height: 80px;
    width: 80px;
    position: relative;
    left: 510px;
    top: 15px;
    border-radius: 100%;
    background-color: white;
}

.heading-h1{
    margin-top: 0px;
    text-align: center;
    position: relative;
    top: 290px;
    font-family: Segoe Script;
    font-size: 65px;
    color: #7F669D;
}

.heading-p{
    text-align: center;
    position: relative;
    top: 270px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #7F669D;
}

.title-cloud-1{
    position: absolute;
    left: 200px;
    top: 170px;
    height: 150px;
    width: 220px;
}

.title-cloud-2{
    position: absolute;
    right: 170px;
    top: 400px;
    height: 150px;
    width: 220px;
}

.title-rainbow{
    position: absolute;
    top: 500px;
    left: 29%;
    height: 549px;
    width: 800px;
}

.middle-container-1{
    height: 915px;
    width: 100%;
    background-color: #F3F1F5;
}

.middle-container-2{
    height: 500px;
    width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.middle-container-2-icon{
    display: inline-block;
    position: relative;
    left: 46%;
    top: 90px;
    border-radius: 100%;
    background-color: #F3F1F5;
    height: 150px;
    width: 150px;
}

.middle-container-2 h1{
    color: #987bbd;
    position: relative;
    top: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.middle-container-2 p{
    position: relative;
    top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #707070;
}

hr{
    background-color: white;
    border-color: #F3F1F5;
    border-style: none;
    border-top-style: dotted;
    border-top-width: 5px;
    width: 2.5%;
}

.bottom-container{
    height: 200px;
    width: 200px;
    background-color: #BFA2DB;
}